html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
}

.header{
	width: 100%;
	height:55px;
	background-color: black;
	opacity: 0.9;
	position:fixed;
}

.home{
	font-family: Arial;
	color:white;
	position:absolute;
	top:10px;
	font-size: 30px;
	left: 10px;
	cursor:pointer;
}

.posters{
	font-family: Arial;
	color:white;
	position:absolute;
	top:10px;
	font-size: 30px;
	left: 150px;
	cursor:pointer;
}

.invite{
	font-family: Arial;
	color:white;
	position:absolute;
	top:10px;
	font-size: 30px;
	left: 350px;
	cursor:pointer;
}

.schedule{
	font-family: Arial;
	color:white;
	position:absolute;
	top:10px;
	font-size: 30px;
	left: 500px;
	cursor:pointer;
}

.wayfinding{
	font-family: Arial;
	color:white;
	position:absolute;
	top:10px;
	font-size: 30px;
	left: 735px;
	cursor:pointer;
}

.home:hover{
	background-color: #103063;
}

.posters:hover{
	background-color: #103063;
}

.invite:hover{
	background-color: #103063;
}

.schedule:hover{
	background-color: #103063;
}

.wayfinding:hover{
	background-color: #103063;
}
.rectangle{
	width: 100%;
	height: 100%;
	overflow:hidden;
	background-image: url("title.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 956px 650px;
	background-color: yellow;
}


.rectangle2{
	top:0px;
	width: 100%;
	height: 100%;
	background-image: url("background1.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-color: yellow;
}

.text1{
	position:absolute;
	left:21%;
	top:120%;
	background-color: yellow;
	font-family: impact;
	color: #103063;
	padding:3%;
	font-size: 70px;
	width:50%;
	text-align: center;
}

.rectangle3{
	width: 100%;
	height: 100%;
}

a{
	text-decoration: none;
	color:yellow;
}

