body {
    background-color:#ebeae7;
    
}    

p {
    text-shadow: 0 0 3px #FF0000;
    color: #fb2a63;
    font-size: 30px;
    font-weight: bold;
    font-family: Futura;
    text-align: center;
    background-color:#ffffff;
    width:1150px;
    margin:10;
    padding:40px;
}


