body {
    background-color:black;
    
}    

p {
    color: #fb2a63;
    font-size: 30px;
    font-weight: bold;
    font-family: Futura;
    text-align: center;
    background-color:black;
    width:1150px;
    margin:10;
    padding:40px;
}

a {
    color:#fb2a63;
    text-decoration:none;
}
    

