html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #c6d9ff;
}

.wrapper{
	position:relative;
	background-color:white;
	height:100%;
	width:100%;
}

.header{
	position:relative;
	background-color:#f9fbff;
	height: 20%;
	top:0;
}


.title{
	position:absolute;
	top:50%;
	left:10%;
	font-family:helvetica;
	font-size:30px;
	width:10%;
	color:#08307f;
	font-weight: bold;
}

.wrapper-one{
	position: relative;
	top:0;
	height:80%;
	width:70%;
	left:15%;
	background-color:#fff;
}

.about-text{
	position:absolute;
	font-family:helvetica;
	font-size: 24px;
	color:#383838;
	width: 50%;
	left:20%;
	top:15%;
	text-align:center;
	background-color:#f9fbff;
	padding:5%;
}

.wrapper-two{
	position: relative;
	top:0;
	height:200%;
	width:100%;
	background-color:#fff;
}

.theme{
	position: absolute;
	top:0;
	height:25%;
	width:70%;
	left:15%;
	background-color:#f9fbff;
}

.theme-list{
	position:absolute;
	top: 20%;
	width: 18%;
	left:41%;
	font-family:helvetica;
	font-size: 20px;
	background-color:#f9fbff;

}

ul{
	margin: 0;
	padding: 0;
	list-style:none;
	background-color:#e3e9f2;
}

li{
	
}

.themes:hover {
 background-color:#ff0061;
 color:#f9fbff;
 cursor:pointer;
}

.themes:onmouseclick{
	background-color:#0e418e;
}


.upload-button{
	position:absolute;
	top: 30%;
	background-color:#0e418e;
	left:45%;
	font-family:helvetica;
	font-size: 15px;
	color:#f9fbff;
	text-align:center;
	padding:4px;
	border-radius:8px;
	cursor:pointer;

}

.upload-button:hover {
 background-color:#ff0061;
 cursor:pointer;
}

.image-wrapper{
	position:absolute;
	top:40%;
	background-color:#fff7fa;
	height:30%;
	width:70%;
	left:15%;
}

.image{
	position:absolute;
	top:5%;
	background-color:#0e418e;
	height:90%;
	width:50%;
	left:25%;
}

