body {
    background-color:#dfcff8;
}    

p {
    color: #6203fb;
    font-size: 60px;
    font-weight: bold;
    font-family: Helvetica, Arial, Sans-Serif;
    background-color:#ba90fe;
    width:200px;
    margin:100px;
    padding:40px;
}

.special {
    color:#6e4ea2;
    font-size: 50px;
}

.special1 {
    color:#3c1778;
    font-size: 40px;
}