body {
	font-family: helvetica;
	font-size: 16px ;
	line-height: 28px;
	letter-spacing: 1px;
}

h1, h2{
	font-size: 16px;
	margin:0;
	font-weight: normal;
}

a:link {
	color: red;
	text-decoration: none;
	border: 1px solid black;
	background-color: #ccc;
}

a:hover {color: #ff0;}
a:active {color:#fff;}
a:visited {color: #00f;}