html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #c2d1e8;
}

.rectangle{
	width: 100%;
	height: 100%;
	background: black;
}

.rectangle2{
	width: 100%;
	height: 100%;
	background: #b7c4cc;
}

#logo{
	position: relative;
	margin-top: -1420px;
	width: 480px;
	height: 480px;
}

.lab{
	margin-top: 30px;
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
}

.homepage{
	margin-top: 10px;
	font-size: 30px;
	color: #70a6ff;
	font-family: futura;
	text-align: center;
}

.flexgrid{
	margin-top: 10px;
	font-size: 30px;
	color: #70a6ff;
	font-family: futura;
	text-align: center;
}

.quiz1{
	margin-top: 10px;
	font-size: 30px;
	color: #70a6ff;
	font-family: futura;
	text-align: center;
}

.quiz2{
	margin-top: 10px;
	font-size: 30px;
	color: #70a6ff;
	font-family: futura;
	text-align: center;
}

a{
	text-decoration: none;
	color:#586268;
}

.space{
	position: relative;
	margin-top:20px;
}

.s{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 10px;
	position:relative;
	animation: fontsize 2s infinite;
  infinite ease-in alternate;
}

@keyframes space{
    0%   {top: 0px;}
    25%  {right: 5px;}
    50%  {top: 30px;}
    75%  {left: 5px;}
    100% {top: 0px;}
}

.p{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 10px;
	position:relative;
	animation: fontsize 2s infinite;
  infinite ease-in alternate;
}

.a{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 10px;
	position:relative;
	animation: fontsize 2s infinite;
  infinite ease-in alternate;
}

.c{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 10px;
	position:relative;
	animation: fontsize 2s infinite;
}

@keyframes fontsize {
  0% {
    font-size: 90px;
  }
  30% {
    font-size: 95px;
  }
  100% {
    font-size: 100px;
  }
}

.e{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 10px;
	position:relative;
	animation: fontsize 2s infinite;
  infinite ease-in alternate;
}

.presentation{
	position:relative;
	margin-top: 0px;
	font-size: 30px;
	color: #70a6ff;
	font-family: futura;
	text-align: center;
}

.sketches{
	position:relative;
	margin-top: -20px;
	font-size: 30px;
	color: #70a6ff;
	font-family: futura;
	text-align: center;
}

.typeface{
	position: relative;
	margin-top:50px;
}

.t{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 50px;
	position:relative;
	animation: typeface 1s
  infinite ease-in alternate;
}

@keyframes typeface{
    0%   {bottom: 0px;}
    25%  {right: 5px;}
    50%  {bottom: 30px;}
    75%  {left: 5px;}
    100% {bottom: 0px;}
}

.y{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 10px;
	position:relative;
	animation: typeface 1s
  infinite ease-in alternate;
}

.p2{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 10px;
	position:relative;
	animation: typeface 1s
  infinite ease-in alternate;
}

.e2{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 10px;
	position:relative;
	animation: typeface 1s
  infinite ease-in alternate;
}

.f{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 10px;
	position:relative;
	animation: typeface 1s
  infinite ease-in alternate;
}

.a2{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 10px;
	position:relative;
	animation: typeface 1s
  infinite ease-in alternate;
}

.c2{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 10px;
	position:relative;
	animation: typeface 1s
  infinite ease-in alternate;
}

.e3{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 10px;
	position:relative;
	animation: typeface 1s
  infinite ease-in alternate;
}

.chance{
	position: relative;
	margin-top:0px;
}

.c3{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 45px;
	position:relative;
	animation: chance 1s
  infinite ease-in alternate;
}

@keyframes chance{
    0%   {top: 0px;}
    25%  {bottom: 5px;}
    50%  {top: 30px;}
    75%  {bottom: 5px;}
    100% {top: 0px;}
}

.c3{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 45px;
	position:relative;
	animation: chance 2s
  infinite ease-in alternate;
}

.h{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 45px;
	position:relative;
	animation: chance 4s
  infinite ease-in alternate;
}

.a3{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 45px;
	position:relative;
	animation: chance 3s
  infinite ease-in alternate;
}

.n{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 45px;
	position:relative;
	animation: chance 2s
  infinite ease-in alternate;
}

.c4{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 45px;
	position:relative;
	animation: chance 4s
  infinite ease-in alternate;
}

.e4{
	font-size: 90px;
	color: #1f303a;
	font-family: futura;
	text-align: center;
	margin-top: 45px;
	position:relative;
	animation: chance 5s
  infinite ease-in alternate;
}

