body {
    background-color:black;
}  

h1 {
    color: #fb2a63;
    font-size: 100px;
    font-weight: bold;
    font-family: Futura;
    text-align: center;
    background-color:#323232;
    width:1250px;
    padding:14px;
}

p {
    color: #fb2a63;
    font-size:17px;
    font-weight: bold;
    font-family: Futura;
    text-align: left;
    width:1150px;
    
}

h2 {
    color: #fb2a63;
    font-size: 80px;
    font-weight: bold;
    font-family: Futura;
    text-align: center;
    width:1150px;
    padding:14px;
}